<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lweaxodb Bilgileri</title>
    <link rel="stylesheet" href="css/lweaxo.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1><strong><%= owner %></strong> Bilgileri</h1>
        </header>

        <div class="content">
<% data.forEach(function(item) { %>
<div class="info-box">
<pre>
{
    "isim": "<%= item.username %>",
    "modül": "<%= item.module %>",
    "discord": "<%= item.Discord %>",
    "version": "<%= item.version %>",
    "İndirme İşlemi": "npm i <%= item.module %>"
}
</pre>
</div>
<% }); %>
</div>
</div>
    <%- include("discord") %>
</body>
</html>
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->
<!--Bu Proje Lweaxo Taradından Yapılıp Lisanslanmıştır Satışı Yasaktır.-->